body {
    background-color: #1b1b1b;
    font-family: 'Poppins', sans-serif;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin-top: 200px;
    margin-left: 600px; 
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    text-align: center;
    padding-top: 40px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.em {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Poppins', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.name {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Poppins', sans-serif;
}

.message {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Poppins', sans-serif;
}

.un:focus, .pass:focus .message:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit {
    text-align: center;
    cursor: pointer;
    border-radius: 5em;
    color: black;
    font-weight: bold;
    background-color: #dddddd;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 1px 1px black;
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

.forgot, a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: black;
    text-decoration: none;
}

@media (max-width: 600px) {
}